body {
  background: #333;
  color: #fff;
}

  #home-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px; }
  #home-section .home-inner {
    padding-top: 150px; }
  #home-section .card-form {
    opacity: 0.8; }

#title1 {
  color: orange !important;
  padding-top: 10px;
  padding-left: 20px;
}
